body {
  text-align: center;

}

.App {
  text-align: center;
}

.time {
  text-align: center;
  font-size: 40px;
}

@media (max-width: 900px) {
  .stack {
    flex-direction: column;
  }
}

#weatherforcast {
  display: flex;
  justify-content: center;
}

#weather-wrapper {
  margin: auto;
}

#rader-image {
  width: 400px;
}
@media screen and (max-width: 460px) {
  #rader-image {
    width: 90%;
    padding: 20px;
  }
}

#youtube-embed {
  width: 90%;
  aspect-ratio: 16 / 9;
  padding: auto;
  padding-top: 20px;
}
@media screen and (min-width: 900px) {
  #youtube-embed {
    width: 880px;
  }
}